.blog-section{
    .blog-card{
        border-radius: $br-10;
        .blog-image{
            overflow: hidden;
            border-radius: $br-10 $br-10 0 0;
            img{
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -webkit-transition: all 0.20s linear 0s;
                transition: all 0.20s linear 0s;
                border-radius: $br-10 $br-10 0 0;
            }
        }
        .blog-text{
            padding: clamp(16px, 1.25vw, 40px) clamp(12px, 0.833vw, 32px);
            border-radius: 0 0 $br-10 $br-10;
            .date{
                display: flex;
                align-items: center;
                gap: $gap-12;
            }
            h3,h6{
                color: $black;
                transition: $transition;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
            h3{
                @include media-query(1099px){
                    font-size: clamp(22px, 2.734vw, 40px);
                }
            }
            p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
        }
        &:hover{
            .blog-image{
                img{
                    -webkit-transform: scale(1.1) translateX(16px);  
                    transform: scale(1.1) translateX(16px);
                    -webkit-transition: all 0.20s linear 0s;
                    transition: all 0.20s linear 0s;
                }
            }
            .blog-text{
                h3,h6{
                    color: $accent-1;
                    transition: $transition
                }
            }
        }
    }
}