/*----------------------------------------*/
/*  Button CSS START
/*----------------------------------------*/


.cus-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: clamp(10px, 0.729vw, 24px) clamp(24px, 1.667vw, 48px);
  border: 1px solid $accent-1;
  font-size: clamp(14px, 0.833vw, 22px);
  font-family: $font-primary;
  font-weight: 500;
  text-transform: capitalize;
  background-color: $accent-1;
  border-radius: $br-4;
  color: $white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);


  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .text {
    position: relative;
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:hover {
    box-shadow: 0 0 0 12px transparent;
    color: $accent-1;

    .circle {
      width: 260px;
      height: 260px;
      opacity: 1;
    }
  }

  &.primary {
    padding: clamp(6px, 0.521vw, 18px) clamp(24px, 1.667vw, 48px);
  }

}

.cus-btn-2 {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: clamp(10px, 0.833vw, 24px) clamp(30px, 2.083vw, 54px);
  font-size: clamp(14px, 0.833vw, 22px);
  font-family: $font-primary;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 120%;
  background-color: $accent-1;
  border-radius: $br-4;
  color: $white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid $accent-1;

  svg {
    position: absolute;
    width: 24px;
    fill: $white;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .arr-1 {
    right: 16px;
  }

  .arr-2 {
    left: -25%;
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:hover {
    color: $accent-1;
    border: 1px solid $accent-1;

    .arr-1 {
      right: -25%;
    }

    .arr-2 {
      transform: rotate(45deg);
      left: 16px;
      path{
        fill: $accent-1;
      }
    }

    .text {
      transform: translateX(12px);
    }

    .circle {
      width: 220px;
      height: 220px;
      opacity: 1;
    }
  }
}

.cus-arrow-btn {
  display: inline-flex;
  align-items: center;
  gap: $gap-8;
  color: $medium-black;
  transition: $transition;
  text-transform: uppercase;
  font-weight: 500;
  font-family: $font-sec;

  svg {
    path {
      transition: $transition;
    }
  }

  &:hover {
    transition: 0.2s ease-in-out;
    color: $accent-1;
    gap: $gap-12;

    svg {
      path {
        stroke: $accent-1;
        transition: $transition;
      }
    }
  }
}


/*----------------------------------------*/
/* scroll to top
/*----------------------------------------*/
.scrollToTopBtn {
  background-color: $accent-1;
  border: 1px solid $accent-1;
  border-radius: $br-8;
  color: $white;
  cursor: pointer;
  font-size: clamp(18px, 1.25vw, 48px);
  line-height: 48px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: clamp(40px, 2.5vw, 64px);
  height: clamp(40px, 2.5vw, 64px);
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;

  &:hover {
    background: $accent-2;
    color: $accent-1;
    transition: $transition;
    border: 1px solid $accent-1;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}


// SLIDER ARROWS
.slider-arrows {
  display: flex;
  align-items: center;
  gap: $gap-16;

  .arrow-btn {
    width: clamp(40px, 2.5vw, 64px);
    height: clamp(40px, 2.5vw, 64px);
    border-radius: $br-4;
    display: grid;
    align-items: center;
    justify-content: center;
    background: $accent-1;
    transition: $transition;
    border: 1px solid $lightest-gray;

    svg {
      width: clamp(18px, 1.667vw, 64px);
      height: clamp(19px, 1.719vw, 64px);
      transition: $transition;

      path {
        transition: $transition;
      }
    }

    &:hover {
      transition: $transition;
      background-color: $black;

      path {
        fill: $white;
        transition: $transition;
      }
    }
  }
}

// SOCIAL ICONS
.social-icons {
  display: flex;
  align-items: center;
  gap: clamp(8px, 0.625vw, 20px);

  @include media-query(490px) {
    gap: 16px;
  }

  &.icon-v2 {
    gap: $gap-20;
  }

  li {
    a {
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: $transition;
      width: clamp(36px, 2.5vw, 64px);
      height: clamp(36px, 2.5vw, 64px);
      background: $medium-black;

      svg {
        width: clamp(20px, 1.25vw, 48px);
        height: clamp(20px, 1.25vw, 48px);

        path {
          transition: $transition;
        }
      }

      &:hover {
        svg {
          path {
            fill: $accent-1;
            transition: $transition;
          }
        }
      }
    }
  }
}

// ===================  PAGINATIONS =================== // 
.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  display: flex;

  #border-pagination {
    display: flex;
    gap: 8px;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;

      span {
        color: $dark-gray;
        transition: $transition;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $accent-1;
        width: clamp(32px, 2.083vw, 64px);
        height: clamp(32px, 2.083vw, 64px);
        border-radius: $br-4;
        border: 0;
        background: $lightest-gray;
        float: left;
        transition: $transition;
        font-size: clamp(15px, 0.938vw, 22px);
        font-style: normal;
        font-weight: 500;
        line-height: 150%;

        svg {
          path {
            fill: $accent-1;
            transition: $transition;
          }
        }

        &.active {
          border: 1px solid $accent-1;
          background-color: $accent-1;
          color: $white;

          svg {
            path {
              fill: $white;
              transition: $transition;
            }
          }
        }

        &:hover {
          border: 1px solid $accent-1;
          background-color: $accent-1;
          color: $white;

          svg {
            path {
              fill: $white;
              transition: $transition;
            }
          }
        }
      }

      &:hover {
        span {
          color: $white;
          transition: $transition;
        }
      }
    }
  }
}