.wrapper-dropdown {
	padding: 11px 0 7px;
	border-radius: 0;
	background: $lightest-gray;
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-align: left;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.selected-display {
		font-size: clamp(15px, 0.938vw, 19px);
		font-weight: 400;
		color: $light-gray;
	}

	&::before {
		position: absolute;
		top: 50%;
		right: 16px;
		margin-top: -2px;
		border-width: 6px 6px 0 6px;
		border-style: solid;
		border-color: #fff transparent;
	}

	.topbar-dropdown {
		width: 100%;
		background: $white;
		transition: 0.3s;
		position: absolute;
		top: 104%;
		left: 0px;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 99;
		border-radius: 0 0 4px 4px;
		box-shadow: inherit;
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		transform-origin: top;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0;
		visibility: hidden;
		box-shadow: $box-shadow;

		li {
			padding: 4px 16px;
			line-height: 30px;
			border-radius: 0;
			overflow: hidden;
			font-size: clamp(14px, 0.781vw, 18px);
			/* 15px */
			font-family: $font-primary;
			color: $light-gray;
			font-style: normal;
			font-weight: 400;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background-color: $accent-2;
				color: $black
			}
		}
	}

	&.active {
		.topbar-dropdown {
			opacity: 1;
			visibility: visible;
			border-radius: 5px;
		}
	}

	.scrollable-menu {
		height: auto;
		max-height: 200px;
		overflow-x: hidden;
	}

	.arrow {
		float: right;
		rotate: 180deg;
	}

	svg {
		transition: all 0.3s;
		width: clamp(13px, 1.042vw, 32px);
		height: clamp(13px, 1.042vw, 32px);
	}

	.rotated {
		transform: rotate(-180deg);
	}
}